<!DOCTYPE html>
<html ng-app="myApp">

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<style type="text/css">
			.container {
				padding-top: 50px;
			}
			
			.red {
				color: red;
			}
			
			.table>tbody>tr>td {
				vertical-align: middle;
			}
			
			.table-striped>tbody>tr:nth-of-type(odd) {
				background: #fff;
			}
			
		</style>
		<script src="js/angular.min.js"></script>
		<script src="js/main.js"></script>
	</head>

	<body ng-controller="myCtrl">
		<div class="container">
			<table class="table table-striped table-hover">
				<thead>
					<th ng-click="order('Round', $event)">比赛编号 <span class="caret"></span></th>
					<th ng-click="order('Team1', $event)">比赛主场 <span class="caret"></span></th>
					<th>主场标志</th>
					<th ng-click="order('Team2', $event)">比赛客场 <span class="caret"></span></th>
					<th>客场标志</th>
					<th ng-click="order('MatchCity', $event)">比赛城市 <span class="caret"></span></th>
					<th>比赛进度</th>
				</thead>
				<tbody>
					<tr>
						<td><input type="text" placeholder="请输入比赛编号" class="form-control" style="width:80%;" ng-model="search.id" /></td>
						<td><input type="text" placeholder="请输入比赛主场" class="form-control" style="width:80%;" ng-model="search.main" /></td>
						<td></td>
						<td><input type="text" placeholder="请输入比赛客场" class="form-control" style="width:80%;" ng-model="search.aside" /></td>
						<td></td>
						<td><input type="text" placeholder="请输入比赛城市" class="form-control" style="width:80%;" ng-model="search.city"  /></td>
					</tr>
					<tr ng-repeat="item in datas | filter: {Round: search.id} | filter: {Team1: search.main} | filter: {Team2: search.aside} | filter: {MatchCity: search.city} | orderBy: default">
						<td>{{item.Round}}</td>
						<td>{{item.Team1}}</td>
						<td><img src="{{item.Flag1}}" alt="" /></td>
						<td>{{item.Team2}}</td>
						<td><img src="{{item.Flag2}}" alt="" /></td>
						<td>{{item.MatchCity}}</td>
						<td>{{item.status_cn}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>

</html>