<div class="box container">
	<h2 class="text-center">用户修改</h2>
	<h3 class="text-right"></h3>
	<form class="form-horizontal" id="registerform" role="form">
		<div class="form-group has-feedback">
			<label class="col-sm-2 control-label">用户名：</label>
			<div class="col-sm-7">
				<input type="text" class="form-control" name="username" placeholder="请输入用户名" id="user" required ng-model="msg.username" readonly="readonly">
			</div>
		</div>

		<div class="form-group has-feedback">
			<label class="col-sm-2 control-label">昵称：</label>
			<div class="col-sm-7">
				<input type="text" class="form-control" name="nickname" id="nickname" placeholder="请输入昵称" required ng-model="msg.nickname">
			</div>
		</div>
		<div class="form-group has-feedback">
			<label class="col-sm-2 control-label">密码：</label>
			<div class="col-sm-7">
				<input type="text" name="password" class="form-control" placeholder="请输入密码" required id="pass" ng-model="msg.password">
			</div>
		</div>

		<div class="form-group has-feedback">
			<label class="col-sm-2 control-label">年龄：</label>
			<div class="col-sm-7">
				<input type="text" class="form-control" name="age" placeholder="请输入年龄" required id="age" ng-model="msg.age">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">性别：</label>
			<div class="col-sm-7">
				<select class="form-control" ng-model="msg.sex">
					<option value="male">男</option>
					<option value="female">女</option>
				</select>
			</div>
		</div>

		<div class="form-group has-feedback">
			<label class="col-sm-2 control-label">电话：</label>
			<div class="col-sm-7">
				<input type="text" class="form-control" name="telphone" placeholder="请输入电话" required id="phone" ng-model="msg.telphone">
			</div>
		</div>

		<div class="form-group has-feedback">
			<label class="col-sm-2 control-label">邮件：</label>
			<div class="col-sm-7">
				<input type="email" class="form-control" name="email" placeholder="请输入邮件" required id="email" ng-model="msg.email">
			</div>
		</div>

		<input type="button" id="submit" class="btn btn-primary center-block" value="确认修改" ng-click="updateSubmit()">
	</form>
	
</div>